.button {
    transition: border-color 0.2s ease;
    background-color: transparent;
    border: solid 1px;
    border-color: rgba(255, 255, 255, 0.15);
    border-radius: 3em;
    color: #ffffff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 24px 55px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}