html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    background: #312450;
    font-size: 13pt;
    color: rgba(255, 255, 255, 0.55);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    border: 0;
    li {
        list-style-type: none;
    }
}

#sidebar {
    background-color: #362551;
    width: 396px;
    position: fixed;
    text-align: right;
    padding: 40px 55px 10px 55px;
    height: 100vh;

    .inner {
        display: flex;
        min-height: 100%;
        flex-direction: column;
        justify-content: center;
    }
}

.wrapper.style1 {
    background-color: #5e42a6;
}

.wrapper.style2 {
    background-color: #5848B4;
}

.wrapper.style3 {
    background-color: #B34C90;
}

#two {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 110px 100px 50px 111px;
}

#two>h1 {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 18px 0;
    font-size: 39px;
}

#two>p {
    font-size: 22px;
    margin: 0 0 44px 0;
}