@media screen and (max-width: 1680px) {

    #sidebar {
        width: 312px;
        padding: 40px 44px 10px 44px;

        li {
            margin: 26px 0 0 0;

            &:first-child {
                margin: 0;
            }

            a {
                font-size: 10px;
                line-height: 0;
                padding: 23px 0;
            }
        }
    }
    
    #wrapper {
        margin-left: 312px;
    }

    #intro {

        .inner {
            padding: 66px 112px 80px 69px;

            h1 {
                margin: 0 0 24px 0;
                font-size: 48px;
            }

            p {
                font-size: 22px;
                margin: 0 0 52px 0;
                line-height: 1.8;
            }
        }
    }

    .button {
        font-size: 10px;
        letter-spacing: 3px;
        padding: 19px 37px;
    }

    #one section,
    #two section,
    #three section {
        min-height: 390px;

        h1 {
            margin: 0 0 15px 0;
            font-size: 30px;
        }

        p {
            font-size: 17px;
            margin: 0 0 45px 0;
            line-height: 30px;
        }
    }

    .img {
        width: 433px;
    }

    .content {
        padding: 36px 70px 48px 70px;
        width: 800px;
    }
}

@media screen and (max-width: 1280px) {

    #sidebar {
        width: 312px;
        padding: 40px 55px 10px 55px;
    }


    #one section,
    #two section,
    #three section {
        min-height: 495px;

        h1 {
            margin: 0 0 18px 0;
            font-size: 39px;
        }

        p {
            font-size: 22px;
            margin: 0 0 60px 0;
        }

        img {
            width: 49%;
        }
    }

    .content {
        padding: 28px 110px 48px 110px;
    }
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 736px) {

}

@media screen and (max-width: 336px) {
    
}
