.menu {

    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 32px 0;

        li {
            margin: 28px 0 0 0;
            opacity: 1;
            padding: 0;
            position: relative;

            &:first-child {
                margin: 0;
            }
        }
    }
}

.menu {

    a {
        border: 0;
        color: rgba(255, 255, 255, 0.35);
        display: block;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 3px;
        line-height: 22px;
        outline: 0;
        padding: 21px 0;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: rgba(255, 255, 255, 0.55);
        }

        &:before {
            border-radius: 0.2em;
            bottom: 0;
            content: '';
            height: 0.2em;
            position: absolute;
            right: 0;
            width: 100%;
            background-color: rgb(62, 44, 92);
        }

        &.active {
            &:before {
                background-image: linear-gradient(to right, #5e42a6, #b74e91);
            }
        }
            
        &:hover {
            color: rgba(255, 255, 255, 0.55);
        
            &:before {
                background-image: linear-gradient(to right, #5e42a6, #b74e91);
            }
        } 
    }

    a.active {
        color: white;
    }
}