.set {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
}

.icons {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 66px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);

    &:first-child {
        border-top: none;
    }

    &:nth-child(2) {
        border-top: none;
    }

    &:nth-child(odd) {
        border-right: 1px solid rgba(255, 255, 255, 0.15);
    }

    h1 {
        color: #ffffff;
        font-weight: bold;
        line-height: 1.5;
        margin: 0 0 5px 0;
        font-size: 24px;
    }

    p {
        font-size: 22px;
        padding-left: 88px;
        margin: 0;
    }

    i {
        border-radius: 100%;
        background-color: white;
        color: #B34C90;
        padding: 14px 0px 0px 0px;
        width: 55px;
        height: 55px;
        text-align: center;
        font-size: 28px;
        margin-right: 26px;
    }
}