$xl-width: 1680px;
$lg-width: 1280px;
$md-width: 980px;
$sm-width: 736px;
$xs-width: 480px;
$menu-bg-color: #362551;
$intro-bg-color: #5e42a6;
$gallery-bg-color: #5848B4;
$what-we-do-bg-color: #B34C90;