#wrapper {
    margin-left: 400px;
}

.wrapper.style1 {
    background-color: #5e42a6;
}

.fullscreen {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

    .inner {
        padding: 115px 115px 80px 115px;
        max-width: 100%;
        width: 1280px;

        h1 {
            color: #ffffff;
            font-weight: bold;
            line-height: 1.5;
            margin: 0 0 30px 0;
            font-size: 64px;
        }

        p {
            font-size: 28px;
            margin-bottom: 55px;

            a {
                border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: white;
                    border: none;
                }
            }
        }

        ul {

            li {
                list-style-type: none;
            }
        }

        .action {
            margin: 0;
            padding: 0;
        }
    }
}