@media screen and (max-width: $sm-width) {
    .connect {
        padding: 48px 32px 22px 32px;

        h1 {
            font-size: 20px;
            margin: 0 0 10px 0;
        }
    
        p {
            font-size: 16px;
            margin: 0 0 29px 0;
            padding-right: 20px;
        }
    }

    .form {
        padding-bottom: 58px;
    }

    .contacts {
        padding: 44px 0 0 0;
        width: 100%;

        .aside-label {
            font-size: 16px;
        }

        p {
            margin: 0px 0px 29px 0;
        }

        i {
            padding-right: 12px;
        }
    }
    
}