@media screen and (max-width: $lg-width) {

    .gallery-item {
        min-height: 360px;

        h1 {
            font-size: 28px;
        }
        
        
        p {
            font-size: 16px;
            margin: 0 0 40px 0;
            line-height: 28px;
        }

        .img {
            width: 400px;
        }
    }

    .content {
        padding: 38px 70px 48px 64px;
    }
}