@media screen and (max-width: $md-width) {

    #two {
        padding: 66px 64px 75px 64px;
    }

    .two {

        p {
            margin: 0 30px 32px 0;
        }
    }

    .set {
        h1 {
            font-size: 18px;
            margin-bottom: 3px;
        }
    }

    .icons {
        width: 100%;
        padding: 47px 52px 17px 48px;
        border-top: 1px solid rgba(255, 255, 255, 0.15);

        &:nth-child(2) {
            border-top: 1px solid rgba(255, 255, 255, 0.15);
        }

        &:nth-child(odd) {
            border-right: none;
        }
    }
}