@media screen and (max-width: $xl-width) {
    
    .gallery-item {
        min-height: 390px;

        h1 {
            color: #ffffff;
            margin: 0 0 15px 0;
            font-size: 30px;
        }

        p {
            font-size: 17px;
            margin: 0 0 45px 0;
            line-height: 30px;
        }
    }

    .img {
        width: 433px;
    }

    .content {
        padding: 36px 70px 48px 70px;
        width: 800px;
    }
}