@media screen and (max-width: $xl-width) {

    #two {
        padding: 69px 119px 81px 69px;
    }
    
    .two {
        
        h1 {
            margin: 0 0 15px 0;
            font-size: 30px;
        }
        
        p {
            font-size: 17px;
            margin: 0 48px 35px 0;
            line-height: 1.8;
        }
    }

    .set {
        margin-bottom: 46px;
    }

    .icons {
        padding: 52px 52px 53px 52px;
    
        h1 {
            color: #ffffff;
            margin: 0 0 2px 0;
            font-size: 19px;
        }
    
        p {
            font-size: 17px;
            padding-left: 70px;
            margin: 0;
        }
    
        i {
            padding: 11px 0px 0px 0px;
            width: 44px;
            height: 44px;
            font-size: 22px;
            margin-right: 20px;
        }
    }
}