@media screen and (max-width: $xs-width) {
    
    ul.actions {
        display: flex;
        flex-direction: column;

        li {
            vertical-align: middle;
        }
    }

    .button {
        font-size: 9px;
        padding: 18px 0;
        display: inline-block;
        width: 100%;
    }
}